* {
    padding: 5px;  
    color:#F9DBBB;
}
header{
    background-color: #4E6E81; /*fondo a determinar*/
    display: flex;
    font-family: 'VT323', monospace;
    font-size: xx-large;
}
.logo{
    width: 50%;
}
.navegador{
    width: 50%;
    padding: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.botonNav{
    margin: 20px;
    text-decoration: none;
}
.canalesInfo{
    padding: 20px;
    margin: 30px 50px 30px 50px;
}
.formulario{
    display: flex;
    flex-direction: column;
    margin: 10px 400px 75px 400px;
    padding: 10px 50px 10px 50px;
    height: 35vh;
}
.boton{
    margin-top: 5px;
    margin-bottom: 5px;
}
.piePag{
    text-align: center;
    background-color: #4E6E81; /*fondo a determinar*/
    height: 8vh;
    padding-top: 10px;
}
img{
    border-radius: 0 100px 0 100px;
    margin: 20px;
    padding: 50px;
}

.productos{
    background-color: #9db9e2;
}

/* PAGINA DE INICIO DE SESION*/

.bodyCuenta{
    display: flex;
    align-items: center;
    justify-content: center; 
    align-content: center; 
    background-color: black;
}

.cajaInicioSesion{
    display: inline-block;
    background-color: rgb(25, 85, 163);
    width: 500px;
    height: 500px;
    align-items: center;
    justify-content: center; 
    align-content: center; 
    text-align: center;
    padding: 30px;   
}

.tituloInicioSesion{
    margin-top: -22px;
    font-size: 50px;  
}

.formularioInicioSesion{
    display: inline-block;
}

.labelsInicioSesion{
    font-size: 21px;
}

.imputsInicioSesion{
    width: 500px;
    height: 30px;
    border-radius: 4px;
    border: 0px;  
    font-size: 15px;    
}

.recuperarContra{
    float: right;
}

.iniciarSesion{
    width: 500px;
    height: 30px;
    border-radius: 4px;
    border: 0px;  
    font-size: 15px;  
    background-color: rgb(158, 152, 150);
}

.iniciarSesion:hover{   
    color: white;
    background-color: rgb(47, 52, 61);
    box-shadow: 0px 4px 30px rgba(40, 41, 40, 0.979); 
}

.recordarmeInicioSesion{
    display: inline-flex;
    float: left;
    align-items: center;
    justify-content: center; 
    align-content: center; 
    text-align: center;  
}

.condicionesInicioSesion{
    font-size: 17px;    
}

.eresNuevo{
    color:rgb(245, 245, 245);
}

.registrarseInicioSesion{
    border-radius: 4px;
    border: 0px;  
    width: 500px;
    height: 30px;
    font-size: 15px;    
    background-color: rgb(158, 152, 150);
}

.registrarseInicioSesion:hover{   
    color: white;
    background-color: rgb(47, 52, 61);
    box-shadow: 0px 4px 30px rgba(40, 41, 40, 0.979);
}   