* {
    padding: 5px;  
    color:#FF6E31;
    background-color: #F9DBBB;
}
header{
    background-color: #243763; /*fondo a determinar*/
    display: flex;
    font-family: 'VT323', monospace;
    font-size: xx-large;
    position: sticky;
    top: .1em;
}
.logo{
    background-color: #243763;
    font-size: xx-large;
    width: 50%;
}
nav {
    background-color: #243763;
    font-family: 'VT323', monospace;
    font-size: xx-large;
    padding: 1vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.botonNav{
    background-color: #243763;
    margin: 1vh;
    text-decoration: none;
    transition: all 0.5s;
    border-radius: 10px;
    padding: 1%;
}

.botonNav:hover{
    background-color: #F9DBBB;
    color: #243763;
}
.respmenu {
    background-color: #243763;
}
.respmenu .fa-bars, .respmenu .fa-times {
    opacity: 0%;
  }
.respmenu input[type="checkbox"] {
    opacity: 0%;
  }

  @media only screen and (max-width: 820px) {

    .respmenu input[type="checkbox"], .respmenu .fa-bars, .respmenu .fa-times {
      position: absolute;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      right: 0;
      top: 0;
      width: 48px;
      height: 48px;
    }
    
    .respmenu .fa-bars, .respmenu .fa-times {
      font-size: 48px;
      pointer-events: none;
      background-color: #243763;
    }
   
    .respmenu {
      position: relative;
      min-height: 48px;
    }
    
    .respmenu nav {
      display: none;
    }
    
    .respmenu input:checked ~ header {
        flex-direction: column;
        width: 100%;
    }
    .respmenu input:checked ~ nav {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 80%;
      padding: 10px;
    }
        
    .respmenu input:checked ~ .fa-times {
      opacity: 100%;
    }
        
    .respmenu input:not(:checked) ~ .fa-bars {
      opacity: 100%;
    }

  }

main {
    margin: 1vh;
    display: block;
    height: 1900px;
}
.piePag{
    text-align: center;
    background-color: #AD8E70;
    height: 26vh;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #243763;
}
.piePag a, .piePag p, .piePag i {
    background-color: #AD8E70;
    color: #243763;
}
.piePag p {
    padding-left: 10px;
    padding-right: 10px;
}
img{
    border-radius: 0 100px 0 100px;
    margin: 40px;
    padding: 20px;
}
img:hover{
    background-color: #243763;
}
.filtrador{
    background-color: #FF6E31;
}

@media screen and (max-width:820px){
    header {
        flex-direction: column;
        width: 100%;
    }
    .logo{
        width: 100%;
    }
    .navegador{
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 10px;
    }
    .botonNav{
        margin: 2px;
    }
    .piePag{
        height: 15vh;
        width: 100%;
    }
}
@media screen and (max-width:360px){
    header{
        font-size: x-large;
    }
    .piePag{
        height: 21vh;
    }
}
