* {
    padding: 5px;  
    color:#F9DBBB;
}
header{
    background-color: #4E6E81; /*fondo a determinar*/
    display: flex;
    font-family: 'VT323', monospace;
    font-size: xx-large;
}
.logo{
    width: 50%;
}
.navegador{
    width: 50%;
    padding: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.botonNav{
    margin: 20px;
    text-decoration: none;
}
.canalesInfo{
    padding: 20px;
    margin: 30px 50px 30px 50px;
}
.formulario{
    display: flex;
    flex-direction: column;
    margin: 10px 400px 75px 400px;
    padding: 10px 50px 10px 50px;
    height: 35vh;
}
.boton{
    margin-top: 5px;
    margin-bottom: 5px;
}
.piePag{
    text-align: center;
    background-color: #4E6E81; /*fondo a determinar*/
    height: 8vh;
    padding-top: 10px;
}
img{
    border-radius: 0 100px 0 100px;
    margin: 20px;
    padding: 50px;
}

.productos{
    background-color: #9db9e2;
}

