header{
    height: 10vh;
    background-color: aqua; /*fondo a determinar*/
    display: flex;
}
.logo{
    width: 50%;
}
.navegador{
    width: 50%;
    padding: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.botonNav{
    margin: 20px;
    text-decoration: none;
}
.canalesInfo{
    padding: 20px;
    margin: 30px 50px 30px 50px;
}
.formulario{
    display: flex;
    flex-direction: column;
    margin: 10px 400px 75px 400px;
    padding: 10px 50px 10px 50px;
    height: 35vh;
}
.boton{
    margin-top: 5px;
    margin-bottom: 5px;
}
.piePag{
    text-align: center;
    background-color: aqua; /*fondo a determinar*/
    height: 8vh;
    padding-top: 10px;
}