* {
    padding: 5px;  
    color:#FF6E31;
    background-color: #F9DBBB;
}
header{
    background-color: #243763;
    display: flex;
    font-family: 'VT323', monospace;
    font-size: xx-large;
    position: sticky;
    top: .1em;
}
.logo{
    background-color: #243763;
    font-size: xx-large;
    width: 50%;
}
nav {
    background-color: #243763;
    font-family: 'VT323', monospace;
    font-size: xx-large;
    padding: 1vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.botonNav{
    background-color: #243763;
    margin: 1vh;
    text-decoration: none;
    transition: all 0.5s;
    border-radius: 10px;
    padding: 1%;
}

.botonNav:hover{
    background-color: #F9DBBB;
    color: #243763;
}
.respmenu {
    background-color: #243763;
}
.respmenu .fa-bars, .respmenu .fa-times {
    opacity: 0%;
  }
.respmenu input[type="checkbox"] {
    opacity: 0%;
  }

  @media only screen and (max-width: 820px) {

    .respmenu input[type="checkbox"], .respmenu .fa-bars, .respmenu .fa-times {
      position: absolute;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      right: 0;
      top: 0;
      width: 48px;
      height: 48px;
    }
    
    .respmenu .fa-bars, .respmenu .fa-times {
      font-size: 48px;
      pointer-events: none;
      background-color: #243763;
    }
   
    .respmenu {
      position: relative;
      min-height: 48px;
    }
    
    .respmenu nav {
      display: none;
    }
    
    .respmenu input:checked ~ header {
        flex-direction: column;
        width: 100%;
    }
    .respmenu input:checked ~ nav {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 80%;
      padding: 10px;
    }
        
    .respmenu input:checked ~ .fa-times {
      opacity: 100%;
    }
        
    .respmenu input:not(:checked) ~ .fa-bars {
      opacity: 100%;
    }

  }

.canalesInfo{
    padding: 20px;
    margin: 30px 50px 30px 50px;
}
.colorTexto{
    color: black;
}
.formulario{
    display: flex;
    flex-direction: column;
    margin: 10px 400px 75px 400px;
    padding: 10px 50px 10px 50px;
    height: 45vh;
    width: 70%;
}
.boton{
    margin-top: 5px;
    margin-bottom: 5px;
}
.invalido{
    background-color: rgba(230, 11, 11, 0.422);
}
.direccion{
    margin-left: 50px;
}
.mapa{
    margin-left: 450px;
    margin-bottom: 50px;
}
.piePag{
    text-align: center;
    background-color: #AD8E70;
    height: 26vh;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #243763;
}
.piePag a, .piePag p, .piePag i {
    background-color: #AD8E70;
    color: #243763;
}
.piePag p {
    padding-left: 10px;
    padding-right: 10px;
}

@media screen and (max-width:820px){
    header {
        flex-direction: column;
        width: 100%;
    }
    .logo{
        width: 100%;
    }
    .navegador{
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 10px;
    }
    .botonNav{
        margin: 2px;
    }
    .piePag{
        height: 15vh;
        width: 100%;
    }
    .canalesInfo{
        margin: 5px;
    }
    .formulario{
        width: 80%;
        padding: 1px;
        margin-left: 70px;
        heigh: 30%;
    }
    .mapa{
        margin-left: 80px;
    }
}
@media screen and (max-width:360px){
    header{
        font-size: x-large;
    }
    .piePag{
        height: 21vh;
    }
    .formulario{
        margin-left: 30px;
    }
    .direccion{
        margin-left: 20px;
    }
    .mapa{
        margin-left: 0px;
        width: 90%;
    }
}
