* {
    padding: 5px;  
    color:#FF6E31;
    background-color: #F9DBBB;
}
header{
    background-color: #243763; /*fondo a determinar*/
    display: flex;
    font-family: 'VT323', monospace;
    font-size: xx-large;
    position: sticky;
    top: .1em;
}
.logo{
    background-color: #243763;
    font-size: xx-large;
    width: 50%;
}
nav {
    background-color: #243763;
    font-family: 'VT323', monospace;
    font-size: xx-large;
    padding: 1vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.botonNav{
    background-color: #243763;
    margin: 1vh;
    text-decoration: none;
    transition: all 0.5s;
    border-radius: 10px;
    padding: 1%;
}

.botonNav:hover{
    background-color: #F9DBBB;
    color: #243763;
}
.respmenu {
    background-color: #243763;
}
.respmenu .fa-bars, .respmenu .fa-times {
    opacity: 0%;
  }
.respmenu input[type="checkbox"] {
    opacity: 0%;
  }


main {
    margin: 1vh;
    display: block;
    height: 520px;
}

aside {
    width: 40vw;
    float: right;
}

aside h2 {
    text-align: center;
}

aside img {
    
    height: 50vh;
    border-radius: 2px;
    border: #FF6E31, solid;
}

section {
    width: 500px;
    float: left;
}

/*Slider*/

.slider-frame {
	width: 500px;
    height: auto;
	margin:50px auto 0;
	overflow: hidden;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 25%;
	list-style: none;
}
@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

.piePag{
    text-align: center;
    background-color: #AD8E70;
    height: 26vh;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #243763;
}
.piePag a, .piePag p, .piePag i {
    background-color: #AD8E70;
    color: #243763;
}
.piePag p {
    padding-left: 10px;
    padding-right: 10px;
}
/*Pagina PRODUCTOS*/

/*Responsive*/
@media only screen and (max-width: 960px) {
    main {
        height: 800px;
    }
    section {
        width: 80%;
    }
    aside {
        width: 80%;
    }
}

@media only screen and (max-width: 820px) {

    .respmenu input[type="checkbox"], .respmenu .fa-bars, .respmenu .fa-times {
      background-color: #243763;
      position: absolute;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      right: 0;
      top: 0;
      width: 48px;
      height: 48px;
    }
    
    .respmenu .fa-bars, .respmenu .fa-times {
      font-size: 48px;
      pointer-events: none;
    }
   
    .respmenu {
      position: relative;
      min-height: 48px;
    }
    
    .respmenu nav {
      display: none;
    }
    
    .respmenu input:checked ~ header {
        flex-direction: column;
        width: 100%;
    }
    .respmenu input:checked ~ nav {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 80%;
      padding: 10px;
    }
        
    .respmenu input:checked ~ .fa-times {
      opacity: 100%;
    }
        
    .respmenu input:not(:checked) ~ .fa-bars {
      opacity: 100%;
    }
    header {
        flex-direction: column;
        width: 100%;
    }
    .logo{
        width: 100%;
    }
    .navegador{
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 10px;
    }
    main {
        height: 930px;
    }
    .botonNav{
        margin: 2px;
    }
    .piePag{
        height: 25vh;
        width: 100%;
    }
    .canalesInfo{
        margin: 5px;
    }
    .formulario{
        width: 80%;
        padding: 1px;
        margin-left: 70px;
        height: 30%;
    }
    .mapa{
        margin-left: 80px;
    }

}
@media screen and (max-width:360px){
    header{
        font-size: x-large;
    }
    .piePag{
        height: 21vh;
    }
    .formulario{
        margin-left: 30px;
    }
    .direccion{
        margin-left: 20px;
    }
    .mapa{
        margin-left: 0px;
        width: 90%;
    }
}